*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: bisque;
    font-size: 24px;
}

header{
    margin-top: 10px;
}

nav ul{
    margin-right: 300px;
    display:inline-block ;
    float: none;
   
}
ul li{
    display:inline-block;
    border: 15px;
    padding: 10px;
    font: size 14px; ;
    
}

.picture{
    flex: 1 0 200px;
    padding: 20px;
   width: 900px;
   height: 650px;
   border: 40px;
   margin-top: 100px;
   margin-bottom: 100px;
}

h1{
font: size 75px; ;
border-style: solid;
border-color: cyan;
}

.ppic{
    margin-left: 600px;
    width: 500px;
    height: 700px;
 
}

#About-Me h2{
    font-size: 65px;
     display:inline;
     margin-left: 550px;
     text-align: center;

}

#About-Me p{
    font-size: 35px;
    text-align: justify;

}
.devpic{
       margin-bottom: 25px;
       width: 600px;
       height: 400px;
       background-color: white;
       background-image: url(<img src="https://plchldr.co/i/500x250" alt="plchldr.co">);
       align-items:center;    
}

@media screen and (max-width: 768px){ 
    header{flex-direction: ;
    }
    
    section{
        max-width: 1200px;
    }
    
}